.row
    .col-auto
        a.collapse-link(data-toggle='collapse', href='#job-details-collapse', role='button', aria-expanded='false', aria-controls='job-details-collapse')
            h4.text-uppercase.font-weight-bold.text-dark Job Details      
    .col.text-right
        h1
            i#job-details-collapse-chevron.mdi.mdi-chevron-up(aria-hidden='true') 
hr.mt-0
if job && job.contractDetails
    .row.collapse.show#job-details-collapse
        .col-12.mb-5
            if(job.school)
                a.mb-2(href='/school/' + job.school._id)  
                    i.text-lightgreen.mdi.mdi-school.mr-2(aria-hidden='true')
                    | #{job.school.name}
                hr.my-2
            .row
                .col-5
                    p.mb-0         
                        i.text-lightgreen.mdi.mdi-map-marker.mr-2(aria-hidden='true')
                        | Location
                .col-7
                    p.mb-0 #{job.province.name} - #{jadefunctions.capitalize(job.city.pinyinName)}

            hr.my-2

            .row
                .col-5
                    p.mb-0         
                        i.text-lightgreen.mdi.mdi-calendar.mr-2(aria-hidden='true')
                        | Start Date
                .col-7
                    p.mb-0 #{moment(job.startDate).format("MMMM YYYY")}

            hr.my-2

            .row
                .col-5
                    p.mb-0         
                        i.text-lightgreen.mdi.mdi-currency-usd.mr-2(aria-hidden='true')
                        | Salary
                .col-7
                    p.mb-0 #{job.contractDetails.salaryLower} - #{job.contractDetails.salaryHigher}  CNY/Month
            
            hr.my-2
            
            .row
                .col-5
                    p.mb-0 
                        i.text-lightgreen.mdi.mdi-email.mr-2(aria-hidden='true')
                        | Contact
                .col-7
                    a.mb-0(href='mailto:' + job.email) #{job.email}
