input.form-control.validate(type='number' id=numberInput.id, class=numberInput.formName name=numberInput.name form=numberInput.formName placeholder=numberInput.placeholder aria-describedby='basic-addon2' min=numberInput.min max=numberInput.max value=numberInput.value required=numberInput.required)
label.col-12.px-0(for=numberInput.name, data-error=numberInput.errorMessage, data-success='Thank you') #{numberInput.label}
    i.mdi.mdi-help-circle(aria-hidden='true' data-toggle="tooltip" data-placement="top" title=numberInput.tooltip )
-var numberInput = {}