.form-group
    label(for=textInput.name) #{textArea.label}
    textarea.form-control(type='text', id=textArea.id, class=textArea.formName, placeholder=textArea.placeholder name=textArea.name, form=textArea.formName, rows=textArea.rows, required=textArea.required)
