.md-form
    input.form-control.datepicker.validate.date-field(id=datepicker.id, name=datepicker.name, placeholder=datepicker.placeholder, class=datepicker.formName, form=datepicker.formName, type='text', value=moment(datepicker.value).format('MMMM Do YYYY'), onblur='validateField(this)' required=datepicker.required)
    label(for=datepicker.name, data-error=datepicker.errorMessage, data-success='Thank you' ) #{datepicker.label}
-var datepicker = {}