-fileInput.progressId = 'progress-' + fileInput.id
-fileInput.urlId = 'url-' + fileInput.id
-fileInput.labelFeedback = 'fdb-label-' + fileInput.id
-fileInput.previewId = 'preview-' + fileInput.id
-fileInput.accept = ' image/*'

if responseInfo
    -fileInput.imagePreview = 'background-image: url(' + pictureInfo.returnLarge(responseInfo[fileInput.urlName]) + ');'  

.form-group
    .col-12
        if fileInput.label
            label(for=fileInput.name) #{fileInput.label}
        p.mt-1.text-small #{fileInput.undertext}
        .row
            .col-6.col-lg-12.mb-3
                    .image-container.image-container-default.bg-primary(id=fileInput.previewId style=fileInput.imagePreview) 
            .col-6.col-lg-12
                    include ./file-uploader