if !textInput.type
    -textInput.type = 'text'

if textInput.required
    -textInput.class += ' validate'

if responseInfo && !textInput.value

    if !textInput.responseSubProperty && responseInfo[textInput.name]
        -textInput.value = responseInfo[textInput.name]

    if textInput.responseSubProperty 
        if responseInfo[textInput.responseSubProperty] && responseInfo[textInput.responseSubProperty][textInput.name]
            -textInput.value = responseInfo[textInput.responseSubProperty][textInput.name]

label(for=textInput.name, data-error=textInput.errorMessage)  #{textInput.label}
    if textInput.tooltip
        i.mdi.mdi-help-circle(aria-hidden='true' data-toggle="tooltip" data-placement="top" title=textInput.tooltip )
input.form-control(type=textInput.type, id=textInput.id, class=textInput.class, name=textInput.name, form=textInput.formName, placeholder=textInput.placeholder, value=textInput.value, autocomplete="off", maxlength=textInput.max, minlength=textInput.min, required=textInput.required)



if textInput    
    p.text-small #{textInput.undertext}

-textInput = {}