-var username = 'username'
.card.h-100
      .card-header.border-bottom-0.bg-transparent.pb-0
            .row
                  .col-auto.pr-0
                        .mt-1
                              include ../genuserpic
                  .col-auto
                        if review.user

                              if review.user.firstName && review.user.lastName
                                    -username = review.user.firstName + review.user.lastName
                              else
                                    -username = review.user.username
                              a.name(href='/user/' + review.user._id) #{username}
                        else 
                              a.name(href='#') An SLWorld User  
                        if Date.parse(review.dateEmployed) != 0 && Date.parse(review.dateReleased) != 0
                              .card-subtitle.text-muted.mt-0 #{moment(review.dateEmployed).format("MMM YYYY")+" to " + moment(review.dateReleased).format("MMM YYYY")}
                        else
                              .card-subtitle.text-muted.mt-0 Posted in #{moment(review.dateCreated).format("MMM YYYY")}
                        if review.average_rating
                              - var avgRating = jadefunctions.roundToPoint5(review.average_rating);
                              include ../genrating
      .card-body.py-0
            hr
            if review.comment != ""
                  .review-content !{review.comment}
            else
                  -var avgRating = jadefunctions.roundToPoint5(review.average_rating);
                  -var reviewsCount = undefined
                  -var small = true
                  include ../ratingcardbody
      .card-footer.border-top-0.bg-transparent
            .row.justify-content-center
                  include ../helpfulshort
                  button.col-auto.btn.btn-link.readmore(type='button', data-toggle="modal", data-target="#slw-modal", data-reviewuser=username, data-reviewid=review._id) 
                        i.mdi.mdi-arrange-bring-forward(aria-hidden='true')
                        |  Read More 