- var avgRating = jadefunctions.roundToPoint5(review.average_rating);
block content
      .row.mb-3.justify-content-start
            .col-auto.pr-0
                  include ../genuserpic
            .col-sm-9
                  if review.user
                        if review.user.firstName && review.user.lastName
                              a.name(href="/user/#{review.user._id}") #{review.user.firstName} #{review.user.lastName}
                        else
                              a.name(href="/user/#{review.user._id}") #{review.user.username}
                        if Date.parse(review.dateEmployed) != 0 && Date.parse(review.dateReleased) != 0
                              .card-subtitle.text-muted #{moment(review.dateEmployed).format("MMM YYYY")+" to " + moment(review.dateReleased).format("MMM YYYY")}
                        else
                              .card-subtitle.text-muted Posted in #{moment(review.dateCreated).format("MMM YYYY")}
                        if review.average_rating
                              include ../genrating
      hr(style='margin-left:-15px; margin-right:-15px;')
      .row.mb-3
            .col-12
                  .review-content !{review.comment}
      .row.mb-3
            .card-body
                  include ../ratingcardbody
            


      //-    h3 Comment
      //-    hr
      //-    .review-description !{review.comment}
      //-    h3 Breakdown
      //-    hr
      //-    include schoolbreakdown
      //-    hr
      //-    include ../helpful




      //-    a.btn.btn-primary.btn-lg.hidden(href="/school/reviews/#{review._id}") View Review
      //- .clearfix


