nav(aria-label='breadcrumb')
  ol.bg-inherit.breadcrumb.mb-0.pl-0
    i.text-primary.mdi.mdi-map-marker.mr-2(aria-hidden='true')
    li.breadcrumb-item
      a.text-primary(href=bread1.url) #{bread1.title}
    li.breadcrumb-item
      a.text-primary(href=bread2.url) #{bread2.title}
    if bread3
      li.breadcrumb-item.active(aria-current='page')
        a.text-primary(href=bread3.url) #{bread3.title}