extends layout
block content
   div.container
      div.login-form.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
         .panel.panel-default
            .panel-body.flat-body
               h3.text-center.login-title Edit #{school.name}
               form(action='/school/addschool', method='POST')
                  .form-group
                  input#id(type="hidden", name="id", value=school.id)
                  .form-group
                     label.control-label(for='Name') Name
                     input(type='text', name='name', class='form-control', placeholder='School Name', value=school.name, required, autofocus)
                  .form-group
                     label.control-label(for='Picture') Picture
                     .progress
                        #progress-bar-picture.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")
                           span.sr-only 0% Complete
                     img.img-thumbnail.col-sm-12.col-md-12.col-lg-12(src=pictureInfo.returnLarge(school.pictureUrl))
                     input#avatarUrl(type="hidden" name="avatarUrl" accept="image/*" value=school.pictureUrl)
                     span(class="btn btn-default btn-file") Change
                        input#file_input(type="file")
                  .form-group
                     label.control-label(for='location') Location
                     .clearfix
                     select#provinceSelect.form-control(name="province")
                        option(value="-1") Province
                        option(value="-2") =============
                        optgroup(label="Provinces")
                        each province,i in provinces
                           if(province.code == school.province.code)
                              option(value=province.code, , selected="selected") #{province.name} - #{province.chineseName}
                           else
                              option(value=province.code) #{province.name} - #{province.chineseName}
                     select#city-select.form-control(name="city")
                        each city,i in cities
                           if(city.code == school.city.code)
                              option(value=city.code, , selected="selected") #{jadefunctions.capitalize(city.pinyinName)} - #{city.chineseName}
                           else
                              option(value=city.code) #{city.pinyinName} - #{city.chineseName}
                  .clearfix
                  .form-group
                     label.control-label(for='TypeOfSchool') Type Of School
                     select.form-control(name="schoolType")
                        -var types = [{value: 0, label: 'Training School'}, {value: 1, label: 'Public School'}, {value: 2, label: 'Contractual Training School'}]
                        each type in types
                           if(type.value == school.schoolType)
                              option(value=type.value, selected="selected") #{type.label}
                           else
                              option(value=type.value) #{type.label}
                  .form-group
                     label.control-label(for='Description') Description
                     textarea#description-textarea(rows='20', name='description', class='form-control', placeholder='Description', style="width: 100%",    required) #{school.description}
                  button(class='btn btn-lg btn-primary btn-block btn-eic', type='submit') Submit
                  span.clearfix
               #message
                  if message
                     h1.text-center.error-message #{message}



   //div.container
   //   div.row
   //      div.col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
   //         h1.text-center.login-title Edit #{school.name}
   //         form(action='/school/edit', method='POST')
   //            .form-group
   //               input#id(type="hidden", name="id", value=school.id)
   //            .form-group
   //               label.control-label(for='Name') Name
   //               input(type='text', name='name', class='form-control', value=school.name placeholder='School Name',required, autofocus)
   //            .form-group
   //               label.control-label(for='Picture') Picture
   //               img#preview.img-thumbnail.col-sm-12.col-md-12.col-lg-12(src=school.pictureUrl )
   //               input#avatarUrl(type="hidden", name="avatarUrl", value=school.pictureUrl)
   //               span(class="btn btn-default btn-file") Change Picture
   //                  input#file_input(type="file")
   //            .form-group
   //               label.control-label(for='Description') Description
   //               textarea(rows='5', name='description', class='form-control', placeholder='Description' required) #{school.description}
   //            .form-group
   //               label.control-label(for='Province') Province
   //               select.form-control(name="province", value=school.province)
   //                  each province, index in provinces
   //                     if(index == school.province)
   //                        option(value=index selected="selected") #{province}
   //                     else
   //                        option(value=index) #{province}
   //            button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
   //            span.clearfix
   //         #message
   //            if message
   //               h1.text-center.error-message #{message}
