.user-picture
    if cardUser
        if cardUser.fb && cardUser.useFacebookPic
            img.rounded-circle.img-fluid.review-image(src=pictureInfo.returnFacebookPicture(cardUser.avatarUrl),  alt=cardUser.username)
        else if cardUser.avatarUrl == '/public/default.png'
            img.rounded-circle.img-fluid.review-image(src='/images/default-user.png', alt=cardUser.username)
        else
            img.rounded-circle.img-fluid.review-image(src=pictureInfo.returnThumbnail(cardUser.avatarUrl), alt=cardUser.username)
    else
            img.rounded-circle.img-fluid.review-image(src='/images/default-user.png', alt='Username')
