extends layout
block content
    if featured
        .jumbotron.custom-jumbotron
                .carousel.slide#myCarousel(data-ride="carousel")

                    <!-- Indicators -->
                    ol.carousel-indicators
                        each featuredSchool, i in featured
                            li(data-target="#myCarousel" data-slide-to="#{i}" class="#{i === 0 ? 'active' : ''}")

                    .carousel-inner(role="listbox")
                        each featuredSchool, i in featured
                            .item.featured-school-item(class="#{i === 0 ? 'active' : ''}" style="background-image: url('#{pictureInfo.returnLarge(featuredSchool.pictureUrl)}');")
                                //img.img-responsive.featured-school(src="#{featuredSchool.pictureUrl}")
                                .carousel-caption
                                    h1 #{featuredSchool.name}
                                    p
                                        a.btn.btn-eic.btn-primary.btn-lg(href="/school/id/#{featuredSchool._id}" role="button") Learn more
    else
        .padding


    .container
        include searchnavigation
        if searchMessage
            h2 #{searchMessage}
        div.row
            div.school-list-wrapper.col-sm-12.col-md-8
                ul.list-group
                    if schools
                        each school in schools
                            li.list-group-item.school-list
                                div.col-sm-5.col-md-5.school-list-image
                                    a(href="/school/id/#{school.id}")
                                        img.img-responsive(width="100%", src="#{pictureInfo.returnThumbnail(school.pictureUrl)}")
                                div.col-sm-7.col-md-7.school-list-information
                                    a(href="/school/id/#{school.id}")
                                        h2.list-group-item-heading #{school.name}
                                    //a(href="/school/search?schoolInfo=&province=#{school.province.code}&city=-1")
                                    h2.school-location
                                        a.btn.btn-primary.btn-gray(href="/school/search?schoolInfo=&province=#{school.province.code}&city=-1") China
                                        span
                                        a.btn.btn-primary.btn-gray(href="/school/search?schoolInfo=&province=#{school.province.code}&city=-1") #{school.province.name}
                                        span
                                        if school.city
                                            a.btn.btn-primary.btn-gray(href="/school/search?schoolInfo=&province=-1&city=#{school.city.code}") #{jadefunctions.capitalize(school.city.pinyinName)}
                                        else
                                            a.btn.btn-primary.btn-gray(href="/school/search?schoolInfo=&province=-1&city=1") Dongying

                                    h5 #{jadefunctions.returnNameforProvinceCode(school.schoolType)}
                                    if school.averageRating > 0 /*The assumption is that no school cant be exactly 0 as long as at least one user has given 1 point to any category...*/
                                        .rating(data-rate-value="#{jadefunctions.roundToPoint5(school.averageRating)}")
                                    if locals.user && locals.user.admin && !school.validated
                                        a.btn.btn-eic.btn-primary.btn-lg(href="/school/validate/#{school.id}" role="button") Validate
                                    if locals.user && locals.user.admin && school.validated
                                        a.btn.btn-eic.btn-primary.btn-lg.disabled(href="/school/validate/#{school.id}" role="button") Validated!
                                        a.btn.btn-eic.btn-primary.btn-lg(href="/school/invalidate/#{school.id}" role="button") Devalidate
                                    if locals.user && locals.user.admin
                                        a.btn.btn-eic.btn-primary.btn-lg(href="/school/remove/#{school.id}" role="button") Remove
                                    hr.hidden-lg.hidden-md.hidden-sm
                                    div.school-list-text
                                        p.list-group-item-text #{school.description}
                                .clearfix
                    else
                        h2 No results
        include paginate