doctype html
html
    head
        if meta && meta.title
            title #{meta.title}
            meta(name='description', content=meta.description)
            meta(property='og:type', content='website')
            meta(property='og:url', content=meta.ogUrl || 'https://www.facebook.com/secondlanguageworld')
            meta(property='og:title', content=meta.title || 'Second Language World')
            meta(property='og:description', content=meta.ogDescription)
            meta(property='og:image', content=meta.ogImage)
        else if title
            title #{title}
        else
            title= "Second Language World | Discover, Learn, Teach."

        link(rel='stylesheet', href='//cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css')
        //- CSS 
        //- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Montserrat|Raleway|Bree+Serif')
        //- link(rel='stylesheet', href='/stylesheets/custom.css')
        //- link(rel='stylesheet', href='/stylesheets/horizBarChart.css')
        //- link(rel='stylesheet', href='/stylesheets/ekko-lightbox.css')
        //- link(rel='stylesheet', href='/stylesheets/nouislider.min.css')
        //- OR 
        link(rel='stylesheet', href='/stylesheets/dist/slworld.css')
        
        //- if analytics
            script(async=true, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
            script.
                (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-6174405736141191",
                enable_page_level_ads: true
                });


    body

        include ./flash-errors
        include ./header/header
        block content
        include ./footer/footer
        include ./footer/copyright
        include ./modal

        //- FRAMEWORK LIBS
        script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')

        //- 3RD PARTY LIBS
        //- script(src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=9nc4tsvmt9he7zsqga33qz5r5zn6ajz0i1cm9vxpr6ttjsd4')
        //- script(async=true, defer=true, src='https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js')
        //- script(async=true, defer=true, src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js')
        //- script(async=true, defer=true, src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js')
        //- script(async=true, defer=true, src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.3.4/bootstrap-slider.min.js')
        //- script(async=true, defer=true, src='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/12.1.0/nouislider.min.js')
        //- script(async=true, defer=true, src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js')
        //- script(async=true, defer=true, src='/javascripts/libs/rater.min.js')
        //- script(async=true, defer=true, src='/javascripts/libs/jquery.horizBarChart.min.js')
        //- OR
        script(src='/javascripts/dist/slworldlibs.js')
            

        //- SLWORLD FRONTEND
        //- include ./utils/slworld-script-links
        //- OR
        script(async=true, defer=true, src='/javascripts/dist/slworld.js')

        //- script(defer=true, src='https://maps.googleapis.com/maps/api/js?key=' + gmapsKey + '&callback=slworld.googleMapsWrapper.init')

    meta(name="viewport", content="width=device-width, initial-scale=1")

