doctype html
html
  head
    title= "English in China"
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-fileinput.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='stylesheet', href='/stylesheets/writereview.css')
    link(rel='stylesheet', href='/stylesheets/monthly.css')
    link(rel='stylesheet', href='/stylesheets/horizBarChart.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-slider.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap3-wysihtml5.min.css')
    script(src="/javascripts/libs/jquery-2.1.4.min.js")
    script(src="/javascripts/libs/bootstrap.min.js")
    script(src="/javascripts/libs/bootstrap3-wysihtml5.all.min.js")
  each js in scripts
    script(src=js)
  body
    //include ./preheader.jade
    include ./header.jade
    .container.col-md-4.col-md-offset-4.col-sm-12
        if messages.error
          .alert.alert-danger.flash-messages
            div= messages.error
        if messages.info
          .alert.alert-info.flash-messages
            div= messages.info
        if messages.success
          .alert.alert-success.flash-messages
            div= messages.success
    block content

    include ./footer.jade
  meta(name="viewport", content="width=device-width, initial-scale=1")

