block content
   span.clearfix
   h2 Photos
   hr

   .school-img-list.col-md
      each photo in school.photos
         //.item.col-sm-4.col-md-3.col-lg-3(id="#{photo._id}")
         .school-image-item.img-responsive.col-xs-4.col-sm-4.col-md-3.col-lg-2(width="100%",id=photo._id, src="#{pictureInfo.returnThumbnail(photo.url)}")
            .school-img-list-item(style="background-image: url('#{pictureInfo.returnThumbnail(photo.url)}');")
               if locals.user && locals.user.admin
                  .picture-corner
                     a.btn.btn-eic.btn-primary.btn-lg(href="/school/deletephoto/#{photo._id}/#{school._id}") X
.clearfix

.clearfix

if locals.user
   h4
      #ajax-add-photo.btn.btn-eic.btn-primary.btn-lg(href="/school/addphotoajax/#{school.id}") Add Photo
else
   h4
      a.btn.btn-eic.btn-primary.btn-lg.disabled(href="/school/addphoto/#{school.id}") Login to Add Photos


