extends layout
block content
   div.school-page
      div.container.school-background
         .row
            h1.login-title #{school.name}
            div(style="background-image: url('#{pictureInfo.returnLarge(school.pictureUrl)}');").school-image-container
            div.col-sm-12.col-md-8
               //a(href="/school/search?schoolInfo=&province=#{school.province}&city=-1")
               //   h3 #{provinces[school.province]}

               h3 #{jadefunctions.returnNameforProvinceCode(school.schoolType)}
               hr
               h4 China \ #{school.province.name} \ Dongying
               hr
               #rating.rating(data-rate-value="#{jadefunctions.roundToPoint5(school.averageRating)}")
               if edit
                  h4
                     a(href="/school/edit/#{school.id}") edit
               span.clearfix
               h4.login-title #{school.description}
               span.clearfix

               h2 Photos
               h4
                  a.btn.btn-primary.btn-lg(href="/school/id/#{school.id}/writereview") Add Photos
               hr
         include schoolreviews
         .clearfix
         .btn-group
               h4
                  a.btn.btn-primary.btn-lg(href="#loadMoreReviews") Load More
            if locals.user
               h4
                  a.btn.btn-primary.btn-lg(href="/school/id/#{school.id}/writereview") Write a Review