block content
   span.clearfix
   h2 Reviews
   hr
   each review in reviews
      li.list-group-review.col-sm-10.col-md-4.col-lg-4
         .image-holder.img-circle(style="background-image: url('#{pictureInfo.returnThumbnail(review.user.avatarUrl)}');")
         .user-information
            if review.user
               a.name(href="/user/#{review.user._id}") #{review.user.firstName} #{review.user.lastName}
               .date #{review.dateCreated.getDate()}/#{review.dateCreated.getUTCMonth()+1}/#{review.dateCreated.getUTCFullYear()}
         span.clearfix
         if review.average_rating
            .rating(data-rate-value="#{jadefunctions.roundToPoint5(review.average_rating)}")
         div #{review.comment}
         h5
            a(href="#") Read More

