form.col-sm-12.px-0.pt-3.pt-lg-0(role='search', action='/job/search', method='GET')
     
      //- Provinces
      .col-lg.my-3
            .search-nav-form
                  select#provinceSelect.custom-select.search-filter.browser-default(name="province")
                        option(value='', disabled='', selected='') Province
                        each province,i in provinces
                              if searchInfo && province.code == searchInfo.province 
                                    option(value=province.code, selected='true') #{province.name} - #{province.chineseName}
                              else
                                    option(value=province.code) #{province.name} - #{province.chineseName}

      //- Cities
      .col-lg.my-3
            .search-nav-form  
                  if(cities)
                        select#citySelect.custom-select.search-filter.browser-default(name="city")
                              if searchInfo && searchInfo.city
                                    option(value='') City
                              else
                                    option(value='', selected='') City
                              each city in cities
                                    if searchInfo && city.code == searchInfo.city
                                          option(value=city.code, selected='true') #{jadefunctions.capitalize(city.pinyinName)} - #{city.chineseName}
                                    else
                                          option(value=city.code) #{jadefunctions.capitalize(city.pinyinName)} - #{city.chineseName}

                  else
                        select#citySelect.custom-select.search-filter.browser-default(name="city", disabled='true')
                              option(value='', selected='') City
      .col-lg-4.my-3
            .form-group.search-nav-form
                  -var schoolInfo = ""
                  -var schoolId = ""
                  if searchInfo && searchInfo.school
                        -schoolInfo = searchInfo.school.name
                        -schoolId = searchInfo.school.id
                  if searchInfo && searchInfo.schoolInfo
                        -schoolInfo = searchInfo.schoolInfo
                  input#schoolInfo.typeahead.form-control.search-filter.form-form-0(name="schoolInfo" placeholder="Job Related Terms" value=schoolInfo type="text")
                  //- label.col-12.px-0(for='schoolInfo', data-error='School has not been selected properly', data-success='Thank you.') School name
                  input#schoolId.d-none(name="schoolId" value=schoolId)

      .col-lg.my-3
            button.col-sm-12.btn.btn-rounded.btn-primary.border-0.my-0(type='submit') 
                  i.mdi.mdi-magnify(aria-hidden='true')
                  span  Search Jobs