block content
   nav.navbar.navbar-default.navbar-custom.navbar-search
      // Brand and toggle get grouped for better mobile display
      .navbar-header
         button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#search-navigation', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
         h3.search-title.hidden-lg.hidden-md.hidden-sm Search
      // Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse#search-navigation
         form.form-horizontal.navbar-form(role='search', action='/school/search', method='GET')
            .form-group
               label.col-md-3.col-lg-3.control-label.search-label(for='location') Name:
               .col-md-3.col-lg-3
                  input.search-navigation-inputs.form-control(type='text', placeholder='School Name', name='schoolInfo')
            .form-group
               label.col-md-3.col-lg-3.control-label.search-label(for='province') Province:
               .col-md-3.col-lg-3
                  select#provinceSelect.search-navigation-inputs.form-control(name="province")
                     option(value="-1") Province
                     option(value="-2") =============
                     optgroup(label="Provinces")
                        each province,i in provinces
                           option(value=province.code) #{province.name} - #{province.chineseName}
            .form-group
               label.col-md-3.col-lg-3.control-label.search-label(for='city') City:
               .col-md-3.col-lg-3
                  select#city-select.search-navigation-inputs.form-control(name="city")
                     option(value="-1") City
                     //each city,i in cities
                     //   option(value=i) #{city.pyName} - #{city.cnName}
            .form-group
               button.btn.btn-eic.btn-primary.col-sm-12.col-md-12.col-md-12(type='submit') Search
.clearfix


