extends layout
block content
   .splash
      .splash-image-container
         .splash-gradient
      div.login-page
         div.no-side-padding.login-form.col-sm-8.col-md-8.col-lg-8.col-sm-offset-2.col-md-offset-2.col-lg-offset-2
            .panel
               .panel-body.flat-body
                  h1.align-center  Review #{school.name}
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                     .img-responsive.school-image-preview(style="background-image: url('#{pictureInfo.returnLarge(school.pictureUrl)}');")
                        #schoolid.hidden(value="#{school.id}")
                  //include school/schoolreviews
                  form(action='/school/insertreview', method='POST')
                     .clearfix
                     .col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
                        hr
                        h2 Teacher Information
                        .form-group
                           label.criteria.control-label.col-sm-12.col-md-12(for='nothing') 1. Position in School
                           select.col-sm-12.col-md-12.col-lg-12#typeofemployee.form-control(name="position" required="required")
                              option(value="-1") Position in School
                              option(value="1") Teacher
                              option(value="2") Teacher's Assistant(TA)
                              option(value="3") Head Teacher
                           .clearfix
                        .form-group
                           label.criteria.control-label.col-sm-12.col-md-12(for='nothing') 2. Period of employment
                           div.no-side-padding.col-sm-12.col-md-12.col-lg-12.float-left
                              #datetimepicker1.calendar.input-group.date
                                    input.form-control(type="text" name="dateEmployed" value="Start Date",required)
                                    span.input-group-addon
                                       span.glyphicon.glyphicon-calendar
                              #datetimepicker2.calendar.input-group.date
                                    input.form-control(type="text" name="dateReleased" value="End Date",required)
                                    span.input-group-addon
                                       span.glyphicon.glyphicon-calendar
                           .clearfix
                        .clearfix
                        hr

                     h2.col-sm-8.col-md-8.col-lg-8.col-lg-offset-2 Evaluation Of School

                     each criterium,i in criteria
                        .form-group.col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
                           label.criteria.control-label.col-sm-12.col-md-12(for='#{criterium.label}') #{criterium.code}. #{criterium.name}
                           p #{criterium.description}
                           .clearfix
                           input.sliderBar(id='ex' + (i+1), name="#{criterium.label}" data-slider-id='ex'+(i+1)+'Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="1")
                           span.review-criteria-score.col-sm-5.col-md-5.pull-right(id='ex'+(i+1)+'CurrentSliderValLabel') Score:
                              span(id='ex'+(i+1)+'SliderVal') 1
                              span /5
                           .clearfix

                     .clearfix
                     .col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
                        hr
                        h2 Write about your experience at #{school.name}
                        .form-group
                           //label.control-label(for='Comments') Comments
                           textarea(rows='8', name='comment', class='form-control', placeholder='Type your comment here',required)
                        .form-group
                           input(type="hidden" name="school" value='#{school.id}')
                        hr
                        button(class='btn btn-lg btn-primary btn-block', type='submit') Submit Review
                  #message
                     if message
                        h1.text-center.error-message #{message}

