extends layout
block content
   div.container
      div.row
         div.col-sm-8.col-md-8.col-md-offset-2.col-sm-offset-2
            h1  Review #{school.name}
            form(action='/school/insertreview', method='POST')
               .form-group.writereviewformgroup
                  h2 Contact Information
                  .clearfix
                  .user-box.col-sm-12.col-md-6
                     .image-holder.img-circle.img-responsive(style="background-image: url('#{pictureInfo.returnThumbnail(user.avatarUrl)}');")
                     h2 #{user.firstName} #{user.lastName}
                     .clearfix
                  label.criteria.control-label.col-sm-12.col-md-12(for='nothing') 1. Position in School
                  select.employeeInfo.col-sm-12.col-md-4#typeofemployee.form-control(name="typeofemployee")
                     option(value="-1") Position in School
                     option(value="-1") Current Teacher
                     option(value="-1") Former Teacher
                     option(value="-1") Teacher's Assistant(TA)
                     option(value="-1") Former Teacher's Assistant(TA)
                     option(value="-1") Head Teacher
                  label.criteria.control-label.col-sm-12.col-md-12(for='nothing') 2. Period of employment
                  div.col-sm-12.col-md-6.float-left
                     div.calendar(style="display:inline-block; z-index: 2;")
                        input.col-sm-8.col-md-8#mytarget1(type="text" value="Start Date" readonly="readonly")
                        .monthly#mycalendar1
                     div.calendar(style="display:inline-block; z-index: 2;")
                        input.col-sm-8.col-md-8#mytarget2(type="text" value="End Date" readonly="readonly")
                        .monthly#mycalendar2
                  .clearfix
                  label.criteria.control-label.col-sm-12.col-md-12(for='nothing') 3. Review anonymously
                  label.col-sm-6.col-md-6
                     input(type="checkbox", name="anonymous")
                     | Review anonymously, your account name and picture will not be associated with this review
                  .clearfix
               h2 Evaluation Of School
               .form-group
                  label.criteria.control-label.col-sm-12.col-md-12(for='cri_academicDisciplinarySupport') 1.  Support given by school before and upon arrival
                  p.col-sm-12.col-md-9 How has the school helped you take care of everything that was needed in the process of moving to China, was it present or did it leave you on your own?
                                       | Upon immediate arrival, did the school have staff dedicated to help you with the sometimes unpleasant transition experienced when moving to a new country?
                  input.sliderBar#ex1(name="cri_academicDisciplinarySupport" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="1")
                  span.review-criteria-score.col-sm-5.col-md-5.pull-right#ex1CurrentSliderValLabel Score:
                     span#ex1SliderVal 1
                     span /5
               .form-group
                  label.criteria.control-label.col-sm-12.col-md-12(for='cri_managementAdministration') 2.  Salary, workload and cost of living
                  p.col-sm-12.col-md-9 After having settled down and covered most initial expenses, do you believe the salary is reasonable in terms of the amount of work
                        | expected from you as well as in accordance to the cost of living there? How does it compare to that of other schools in the same area?
                  input.sliderBar#ex2(name="cri_managementAdministration" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="1")
                  span.review-criteria-score.col-sm-5.col-md-5.pull-right#ex2CurrentSliderValLabel Score:
                     span#ex2SliderVal 1
                     span /5
               .form-group
                  label.criteria.control-label.col-sm-12.col-md-12(for='cri_resourcesAvailability') 3. Work environment and management
                  p.col-sm-12.col-md-9
                  input.sliderBar#ex3(name="cri_resourcesAvailability" data-slider-id='ex3Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="1")
                  span.review-criteria-score.col-sm-5.col-md-5.pull-right#ex3CurrentSliderValLabel Score:
                     span#ex3SliderVal 1
                     span /5
               .form-group
                  label.criteria.control-label.col-sm-12.col-md-12(for='cri_accomodationProvided') 4. Reliability of Provided Accomodation
                  p.col-sm-12.col-md-9 During the process, all the static content has been translated.
                  input.sliderBar#ex4(name="cri_accomodationProvided" data-slider-id='ex4Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="1")
                  span.review-criteria-score.col-sm-5.col-md-5.pull-right#ex4CurrentSliderValLabel Score:
                     span#ex4SliderVal 1
                     span /5
               .form-group
                  label.criteria.control-label.col-sm-12.col-md-12(for='cri_supportOnArrivalandVisa') 5. Support On Arrival and Visa Handling
                  p.col-sm-12.col-md-9 Almost a transparent process when rendering jade files directly into HTML, including, rendering a jade file with jade cli tool. But it is actually the most important step while translating the jade template to HTML. Compiling will be translate the jade file into a JavaScript function. During the process, all the static content has been translated.
                  input.sliderBar#ex5(name="cri_supportOnArrivalandVisa" data-slider-id='ex5Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="1")
                  span.review-criteria-score.col-sm-5.col-md-5.pull-right#ex5CurrentSliderValLabel Score:
                     span#ex5SliderVal 1
                     span /5
               .form-group
                  label.criteria.control-label.col-sm-12.col-md-12(for='cri_salaryVsCOLiving') 6. Salary vs Cost Of Living
                  p.col-sm-12.col-md-9 Actually the most important step while translating the jade template to HTML. Compiling will be translate the jade file into a JavaScript function. During the process, all the static content has been translated.
                  input.sliderBar#ex6(name="cri_salaryVsCOLiving" data-slider-id='ex6Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="1")
                  span.review-criteria-score.col-sm-5.col-md-5.pull-right#ex6CurrentSliderValLabel Score:
                     span#ex6SliderVal 1
                     span /5
               .form-group
                  label.criteria.control-label.col-sm-12.col-md-12(for='cri_respectForContract') 7. Attention given to respecting contract
                  p.col-sm-12.col-md-9 During the process, all the static content has been translated.
                  input.sliderBar#ex7(name="cri_respectForContract" data-slider-id='ex7Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="1")
                  span.review-criteria-score.col-sm-5.col-md-5.pull-right#ex7CurrentSliderValLabel Score:
                     span#ex7SliderVal 1
                     span /5
               .form-group.writereviewformgroup
                  label.criteria.control-label.col-sm-12.col-md-12(for='cri_pollution') 8. Level of pollution
                  p.col-sm-12.col-md-9 HTML, including rendering a jade file with jade cli tool. But it is actually the most important step while translating the jade template to HTML. Compiling will be translate the jade file into a JavaScript function. During the process, all the static content has been translated.
                  input.col-sm-6.sliderBar#ex8(name="cri_pollution" data-slider-id='ex8Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="1")
                  span.review-criteria-score.col-sm-5.col-md-5.pull-right#ex8CurrentSliderValLabel Score:
                     span#ex8SliderVal 1
                     span /5
               .clearfix
               .h2 Write about your experience at #{school.name}
               .form-group
                  //label.control-label(for='Comments') Comments
                  textarea(rows='8', name='comment', class='form-control', placeholder='Type your comment here',required)
               .form-group
                  input(type="hidden" name="school" value='#{school.id}')
               button.col-sm-3.col-md-3.col-lg-3(class='btn btn-lg btn-primary', type='submit') Submit Review
            #message
               if message
                  h1.text-center.error-message #{message}

//   cri_academicDisciplinarySupport: Number,
//   cri_managementAdministration: Number,
//   cri_resourcesAvailability: Number,
//   cri_accomodationProvided: Number,
//   cri_supportOnArrivalandVisa : Number,
//   cri_salaryVsCOLiving: Number,
//   cri_respectForContract: Number,
//   cri_pollution: Number
