.img-fluid.school-image-container(style="background-image: url('#{pictureInfo.returnLarge(article.pictureUrl)}');")
    .container.darkbg
        h1.school-page-name #{article.title}
        #schoolid.hidden(value="#{article.id}")
        if article.user
            .author
                .user-picture
                    if article.user.fb && article.user.useFacebookPic
                        .default-user-picture.image-holder.rounded-circle.fcb(style="background-image: url('/images/default-user.png');")
                        .profile-img.image-holder.rounded-circle.fcb(style="background-image: url('#{pictureInfo.returnFacebookPicture(article.user.avatarUrl)}');")
                    else
                        .default-user-picture.image-holder.rounded-circle.th(style="background-image: url('/images/default-user.png');")
                        .profile-img.image-holder.rounded-circle.th(style="background-image: url('#{pictureInfo.returnThumbnail(article.user.avatarUrl)}');")
                .user-information
                    if article.user
                        if article.user.firstName && article.user.lastName
                            a.btn-block.name(href="/user/#{article.user._id}") #{article.user.firstName} #{article.user.lastName}
                        else
                            a.btn-block.name(href="/user/#{article.user._id}") #{article.user.username}
                    if Date.parse(article.dateCreated) != 0
                        a.btn-block.name #{moment(article.dateCreated).format("MMM YYYY")}
        h4 #{article.author}
