li.list-group-item
    div.col-sm-4.col-md-4.school-list-image.nopadding
        a(href="/article/#{url}")
            .img-container
                .img-frame.img-responsive(width="100%", style="background-image: url('#{pictureInfo.returnThumbnail(pictureUrl)}');")
        .clearfix
    div.col-sm-7.col-md-7.school-list-information
        a(href="/article/#{url}")
            h2 #{article.title}
        div.school-list-text
            p.list-group-item-text #{content}
    a.hidden-xs(href="/article/#{url}")
        div.see-more.col-sm-1.col-md-1
    .clearfix
