.card.text-right.h-100
    .display-grid
        a.view.overlay.card-img(href='/job/' + job.url)
            .image-container.lazy-background(style='background-image: url(' + pictureInfo.returnThumbnail(job.pictureUrl) + ');')           
        .card-body.text-left
            h4.font-weight-bold.card-title.px-0 
                a.text-dark.text-capitalize(href="/job/" + job.url)
                    | #{jadefunctions.formatString(job.title, 55)}
            //- h6.card-subtitle.font-weight-light.mb-2.text-muted.text-capitalize #{jadefunctions.formatString(job.kicker, 85)}
            p.text-capitalize.text-small.font-weight-bold #{job.city.pinyinName} - #{job.province.name} &middot; #{moment(job.dateCreated).format("MMMM Do")}
            hr
            p.text-small !{job.description}
            //- .text-muted
            //-     each tag in article.tags
            //-         .chip.chip-xs.mb-1
            //-             i.mdi.mdi-school(aria-hidden='true')      
            //-             |  #{tag.name}

    