a.border-radius-5.col-sm-4.col-md-4.col-lg-4.col-xs-4.px-1.py-1(href='/job/' + job.url)
    .border-radius-5.img-overlay(style='background-image: url(' + pictureInfo.returnLarge(job.pictureUrl) + ');')
        .img-caption.col-lg-12.pl-3.pt-3.text-white
            h4.mb-3 #{job.title}  
            p.mb-1.text-capitalize 
                i.text-lightgreen.mdi.mdi-map-marker(aria-hidden='true')
                |  #{job.city.pinyinName} - #{job.province.name}
            p.mb-1.text-capitalize 
                i.text-lightgreen.mdi.mdi-currency-usd(aria-hidden='true')
                |  #{job.contractDetails.salaryLower} - #{job.contractDetails.salaryHigher}  CNY/Month
            p.mb-1.text-capitalize 
                i.text-lightgreen.mdi.mdi-school(aria-hidden='true')
                |  #{job.teachingDetails.institution}
            p.mb-1.text-capitalize 
                i.text-lightgreen.mdi.mdi-calendar(aria-hidden='true')
                |  #{moment(job.startDate).format("MMMM YYYY")}