h2.font-weight-light.border-bottom.border-gray.pb-2 Location
div(role='form', data-toggle='validator', id='form-step' + step)
      p.py-3 Let's see if the school you are posting a job offer for already exists in our system. Specifying the school will allow for candidates to take a look at other teachers' experiences at the school and will increase the odds of finding the right candidate for the right job.
      .row
            .col-lg-6.form-group
                  select#provinceSelect.form-form-1.mdb-select.add-school-form.validate(name="provinceId", form="form-form-" + step required)
                        option(value='', disabled='', selected='') Province
                        each province,i in provinces
                              if job && job.province && province.code == job.province 
                                    option(value=province.code, selected='true') #{province.name} - #{province.chineseName}
                              else
                                    option(value=province.code) #{province.name} - #{province.chineseName}
                  label.col-12.px-0(for='province', data-error='School has not been selected properly', data-success='Thank you.') Province
            .col-lg-6
                  if(cities)
                        select#citySelect.form-form-1.mdb-select.add-school-form(name="cityId", form="form-form-" + step required)
                              if job && job.city
                                    option(value='') City
                              else
                                    option(value='', selected='') City
                              each city in cities
                                    if job && job.city && city.code == job.city
                                          option(value=city.code, selected='true') #{jadefunctions.capitalize(city.pinyinName)} - #{city.chineseName}
                                    else
                                          option(value=city.code) #{jadefunctions.capitalize(city.pinyinName)} - #{city.chineseName}
                        label.col-12.px-0(for='city', data-error='School has not been selected properly', data-success='Thank you.') City
                  else
                        select#citySelect.mdb-select.empty(name="city", disabled='true')
                              option(value='', selected='') City
                        label.col-12.px-0(for='city', data-error='School has not been selected properly', data-success='Thank you.') City
            .col-lg-12
                  .form-group.md-form
                        -var queryInfo = ""
                        -var schoolId = ""
                        if searchInfo && searchInfo.school
                              -queryInfo = searchInfo.school.name
                              -schoolId = searchInfo.school.id
                        input#queryInfo.typeahead.form-control(name="queryInfo", value=queryInfo type="text", datasets="schools", class="form-form-" + step, form="form-form-" + step)
                        input#schoolId.d-none(name="schoolId" value=schoolId form=formName)
                        label.col-12.px-0(for='queryInfo', data-error='School has not been selected properly', data-success='Thank you.') School Name (Optional)
                  p.mb-5.text-small Start typing for results to show, select province and city to narrow down research. It is not necessary to specify a school for the location for a job offer but linking it to a school can direct the teacher to other teacher's reviews and help the selection in both ways.

            .col-lg-12
                  include ../review/find-school-create-option
      
      button.btn.btn-primary.btn-rounded.nextBtn.float-right(type='button') Next
      if step != 0
            button.btn.btn-mdb-color.btn-rounded.prevBtn.float-right(type='button') Previous

