.row
    .col-lg-5.mb-5.mt-lg-0
        img.img-fluid(src=pictureInfo.returnLarge(job.pictureUrl), alt="Teach English Overseas")
    .col-lg-7
        a(href="/job/" + job.id)
            h2.font-weight-bold #{job.title}
        h4 #{job.kicker}
        h5 #{moment(job.startDate).format("MMM YYYY") + " - " + moment(job.endDate).format("MMM YYYY")}
        h5 #{job.salary}CNY
        p #{job.description}
    .col-12
        hr