//- .chip.chip-md.mb-2
//-     i.text-primary.mdi.mdi-map-marker.mr-2(aria-hidden='true')
//-     | #{job.province.name} - #{jadefunctions.capitalize(job.city.pinyinName)}
.chip.chip-sm.mb-2
    i.text-primary.mdi.mdi-calendar.mr-2(aria-hidden='true')
    | Posted #{moment(job.dateCreated).format("DD MMM YYYY")}
if job.contractDetails
    .chip.chip-sm.mb-2
        i.text-primary.mdi.mdi-calendar-check.mr-2(aria-hidden='true')
        | Start Date #{moment(job.contractDetails.startDate).format("DD MMM YYYY")}
    .chip.chip-sm.mb-2
        i.text-primary.mdi.mdi-calendar-check.mr-2(aria-hidden='true')
        if( job.contractDetails.duration == 1)
            | 1 year
        else 
            | #{job.contractDetails.duration} years
    .chip.chip-sm.mb-2
        i.text-primary.mdi.mdi-currency-jpy.mr-2(aria-hidden='true')
        | #{job.contractDetails.salaryLower} - #{job.contractDetails.salaryHigher}  CNY/Month
    .chip.chip-sm.mb-2
        i.text-primary.mdi.mdi-school.mr-2(aria-hidden='true')
        | #{job.benefits.accomodation}