extends ../layout
block content
  .row.bg-dark
    .container
      .col-lg-12
        include job-map-breadcrumb 

  .container
    .col-lg-12
      .row
        .col-md-12.mt-5.mb-3
          h1.font-weight-bold #{job.title}
          h3 #{job.kicker}
          p Posted by #{job.author}
        .col-lg-6.mb-3
          img.img-fluid(src=pictureInfo.returnLarge(job.pictureUrl), alt="Teach English Overseas")
        .col-lg-6.mb-3
          p.mb-0         
            i.text-lightgreen.mdi.mdi-map-marker.mr-2(aria-hidden='true')
            | #{job.province.name} - #{jadefunctions.capitalize(job.city.pinyinName)}
          hr.my-2
          p.mb-0 
            i.text-lightgreen.mdi.mdi-calendar.mr-2(aria-hidden='true')
            | #{moment(job.startDate).format("MMM YYYY") + " - " + moment(job.endDate).format("MMM YYYY")}
          hr.my-2
          p.mb-0 
            i.text-lightgreen.mdi.mdi-calendar-check.mr-2(aria-hidden='true')
            | Posted on #{moment(job.createdDate).format("MMM YYYY")}
          hr.my-2
          p.mb-0 
            i.text-lightgreen.mdi.mdi-currency-usd.mr-2(aria-hidden='true')
            | #{job.salary} CNY/Month
          hr.my-2
          p.mb-0 
            i.text-lightgreen.mdi.mdi-email.mr-2(aria-hidden='true')
            a(href='mailto:' + job.email) #{job.email}
      .row
        .col-lg-12
          .show-more-container
            p !{job.description}
          .show-more-link
            a(href='#') Show More
          .show-less-link.d-none
            a(href='#') Show Less
        .col-lg-12.my-5
          include job-page-top-actions