extends ../layout
block content
    div.school-page
        .img-responsive.school-image-container(style="background-image: url('#{pictureInfo.returnLarge(company.pictureUrl)}');")
            .container.darkbg
                //.col-md-3
                //    .img-container
                //        .img-frame.img-responsive.img-thumbnail(width="100%", style="background-image: url('#{pictureInfo.returnLarge(company.logoUrl)}');")
                //.col-md-9
                h1.school-page-name #{company.name}
                #schoolid.hidden(value="#{company.id}")
                if company.website
                    a(href="#{company.website}")
                    h4 #{company.website}
        .school-container
            .container.school-content
                span.clearfix
                .page-block.col-xs-12.col-sm-12.col-md-12.col-lg-8
                    h2 Description
                    hr
                    span.clearfix
                    div.description-container
                        p.login-title !{company.description}
                    h5#read-more
                        #description-readmore.description-readmore.btn.btn-default.btn-sm Read Full Description
                    span.clearfix
                .page-block.col-xs-12.col-sm-12.col-md-12.col-lg-4
                    - var photos = company.photos
                    - var isCompany = true
                    include ../photogrid
                span.clearfix

                //.col-xs-12.col-sm-12.col-md-12.col-lg-88.footer-box
                //    h2.has-hr#popular-cities #{company.name} | Schools
                //    hr
                //    span.clearfix
                //    include ../schoollist

                .page-block.col-xs-12.col-sm-12.col-md-12.col-lg-8
                    h2.has-hr#popular-cities #{company.name} | Locations
                    hr
                    span.clearfix
                    .row
                        .locations.col-xs-12.col-xs-offset-0.col-sm-12.col-sm-offset-0.col-md-12
                            ul.nav.nav-pills
                                each cprovince,i in provincesByCompany
                                    if(i == 0)
                                        li.active
                                            a(data-toggle="pill" href="##{cprovince._id.code}") #{cprovince._id.name} (#{cprovince.number})
                                    else
                                        li
                                            a(data-toggle="pill" href="##{cprovince._id.code}") #{cprovince._id.name} (#{cprovince.number})
                            -var schoolList = schools
                            .tab-content
                                each cprovince,i in provincesByCompany
                                    -var schools2 = []
                                    if(i == 0)
                                        .tab-pane.fade.in.active(id="#{cprovince._id.code}")
                                            each school in schoolList
                                                if(school.province.code == cprovince._id.code)
                                                    -schools2.push(school)
                                            -var schools = schools2
                                            include ../schoollist
                                    else
                                        .tab-pane.fade(id="#{cprovince._id.code}")
                                            each school in schoolList
                                                if(school.province.code == cprovince._id.code)
                                                    -schools2.push(school)
                                            -var schools = schools2
                                            include ../schoollist

