extends ../layout
block content
    div.school-page
        .img-responsive.school-image-container(style="background-image: url('#{pictureInfo.returnLarge(company.pictureUrl)}');")
            .container.darkbg
                //.col-md-3
                //    .img-container
                //        .img-frame.img-responsive.img-thumbnail(width="100%", style="background-image: url('#{pictureInfo.returnLarge(company.logoUrl)}');")
                //.col-md-9
                h1.school-page-name #{company.name}
                #schoolid.hidden(value="#{company.id}")
                if company.website
                    a(href="#{company.website}")
                    h4 #{company.website}
        .school-container
            .container.school-content
                span.clearfix
                .col-xs-12.col-sm-12.col-md-12.col-lg-8
                    h2 Description
                    hr
                    span.clearfix
                    div.description-container
                        p.login-title !{company.description}
                    h5#read-more
                        #description-readmore.description-readmore.btn.btn-default.btn-sm Read Full Description
                    span.clearfix
                .col-xs-12.col-sm-12.col-md-12.col-lg-4
                    - var photos = company.photos
                    - var isCompany = true
                    include ../photogrid
                span.clearfix

                .col-xs-12.col-sm-12.col-md-12.col-lg-8.footer-box
                    h2.has-hr#popular-cities #{company.name} | Schools
                    hr
                    span.clearfix
                    include ../schoollist

