extends ../layout
block content
    -var reviews = company.reviews
    -var averageRating = jadefunctions.roundToPoint5(jadefunctions.returnAverage(company.schools, 'averageRating'))
    
    .school-page.mb-5

        include companyheader
        include company-tabs
        include ../review/splash-review
         
        .container.bg-white.pt-3(data-spy="scroll" data-target="#company-navigation" data-offset="0")           
            .row
                #description.description.col-sm-12.col-lg-8
                    hr
                    -var element = company
                    include ../school/description
                .col-lg-4
                    include ../ratingcard
                    button.btn.btn-lg.btn-block.btn-primary(type='submit')
                        i.mdi.mdi-plus-circle(aria-hidden='true')
                        span  Write a Review
                    include ../utils/share-box
            .row
                .col-auto
                        h2 Our locations
            p.text-muted Look for #{company.name} in all of our locations around the World
            hr
            .py-2
                span.clearfix
                .locations
                    include companylocations
                    -var schoolList = schools
                    .tab-content.px-0
                        each cprovince,i in provincesByCompany
                            -var schools2 = []
                                .tab-pane.fade.in.show(id=cprovince._id.code, class=i==0? 'active': '', role='tabpanel')
                                    each school in schoolList
                                        if(school.province.code == cprovince._id.code)
                                            -schools2.push(school)
                                    -var schools = schools2
                                    include ../school/schoollist
            .photos.mt-5.clearfix
                .row
                        .col-auto
                            h2 Photos
                        //- .col.text-right
                        //-     -var link = "/school/addphoto/" + school._id
                        //-     a.btn.btn-sm.btn-link.pr-0(href=link) Add Photo 
                        //-             i.mdi.mdi-library-plus(aria-hidden='true')
                p.text-muted What others have been saying about #{company.name}
                hr
                -var photos = company.photos
                -var link = "/company/addphoto/" + company.id
                include ../photogrid

            .reviews.mt-5.clearfix
                .row
                    .col-auto
                            h2#popular-cities.text Rating & Reviews 
                    //- .col.text-right
                    //-         a.btn.btn-sm.btn-link.pr-0(href='/review' + query) Add Review 
                    //-             i.mdi.mdi-library-plus(aria-hidden='true')
                p.text-muted What others have been saying about #{company.name}. #{company.reviews.length} Reviews
                hr
                include ../review/reviews
                //- if reviews.length > 6
                //-     #load-more-reviews.btn.btn-secondary.btn-lg Load More
