.card.text-right.h-100
    .display-grid
        a.view.overlay.card-img(href='/company/' + company._id)
            //- img.card-img-top(src='#{pictureInfo.returnThumbnail(company.pictureUrl)}', alt='Card image')
            .image-container.lazy-background(style='background-image: url(' + pictureInfo.returnThumbnail(company.pictureUrl) + ');')             
        a.btn.btn-primary.btn-rounded.btn-floating.btn-action.ml-auto.mr-4(href='/company/' + company._id)
            i.text-white.mdi.mdi-chevron-double-right(aria-hidden='true')
        .card-body.text-center
            h3.font-weight-light.card-title 
                a.text-dark(href='/company/' + company._id)
                    | #{company.name}
            hr
            p.card-text #{company.description}
            .row.justify-content-center.text-muted
                .chip
                    i.mdi.mdi-school(aria-hidden='true')      
                    |  #{company.schools.length} Schools
                -var averageRating = jadefunctions.roundToPoint5(jadefunctions.returnAverage(company.schools, 'averageRating'))
                if averageRating != 'NaN'
                    .chip
                        include ../genratingshort
                if company.reviews && company.reviews.length > 0
                    .chip
                            i.mdi.mdi-message-text(aria-hidden='true')      
                            |  #{company.reviews.length} Reviews