.row
    .col-lg-12
        h3.mb-1.font-weight-bold Also On Second Language World
    each featuredArticle in featuredArticles
        .col-lg-12
            .card.text-right.h-100.border-0.bg-pale-gray
                .display-grid
                    //- a.view.overlay.card-img(href='/blog/' + featuredArticle.slug)
                    //-     .image-container(style='background-image: url(' + featuredArticle.featured_image + ');')             
                    .card-body.text-left.px-0
                        h4.font-weight-bold.card-title 
                            a.text-dark(href='/blog/' + featuredArticle.slug)
                                | #{featuredArticle.title}
                        hr
                        //- p.card-text.overflow-3 #{featuredArticle.summary}
                        p.card-text 
                            span.font-weight-bold #{featuredArticle.author.first_name} #{featuredArticle.author.last_name} | 
                            | #{moment(featuredArticle.created).format("MMMM DD YYYY")}
