extends ../layout
block content
   .container.login-page
      .row
         div.login-form.col-sm-8.col-md-8.col-lg-8.col-sm-offset-2.col-md-offset-2.col-lg-offset-2
            .panel.login-panel
               .panel-body.flat-body
                  .row
                     h3.text-center.login-title School Registration Details
                     form(action='/school/addschool', method='POST')
                        .form-group
                           label.control-label(for='Name') Name
                           if incompleteSchool
                              input(type='text', name='name', class='form-control', placeholder='School Name', value=incompleteSchool.name, required, autofocus)
                           else
                              input(type='text', name='name', class='form-control', placeholder='School Name',required, autofocus)
                        .form-group
                           label.control-label(for='Picture') Picture
                           .progress
                              #progress-bar-picture.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")
                                 span.sr-only 0% Complete
                           img#preview.img-thumbnail.col-sm-12.col-md-12.col-lg-12(src="/images/default.png")
                           input#avatarUrl(type="hidden" name="avatarUrl" accept="image/*" value="/public/default.png")
                           span(class="btn btn-default btn-file") Browse
                              input#file_input(type="file")
                        .form-group
                           label.control-label(for='Website') Website
                           input(type='text', name='website', class='form-control', placeholder='Website URL')
                        .form-group
                           label.control-label(for='location') Location
                           .clearfix
                           select#provinceSelect.form-control(name="province")
                              option(value="-1") Province
                              option(value="-1") =============
                              optgroup(label="Provinces")
                              each province,i in provinces
                                 option(value=province.code) #{province.name} - #{province.chineseName}
                           select#city-select.empty.form-control(name="city")
                              option(value="-1") City
                        .clearfix
                        .form-group
                           label.control-label(for='TypeOfSchool') Type Of School
                           if incompleteSchool
                              select.form-control(name="schoolType")
                                 -var types = [{value: 0, label: 'Training School'}, {value: 1, label: 'Public School'}, {value: 2, label: 'Contractual Training School'}]
                                 each type in types
                                    if(type.value == incompleteSchool.schoolType)
                                       option(value=type.value, selected="selected") #{type.label}
                                    else
                                       option(value=type.value) #{type.label}
                           else
                              select.form-control(name="schoolType")
                                 option(value="0") Training School
                                 option(value="1") Public School
                                 option(value="2") Contractual Training School

                        .form-group
                           label.control-label(for='Description') Description
                           textarea#description-textarea(rows='20', name='description', class='form-control', placeholder='Description', style="width: 100%", required)
                        .form-group
                           input(type="checkbox" value="checked" required)
                           |   After you submit this application the school will have to be validated by our moderators before becoming visible to all users, if you wish to edit the school before this, make sure you save the next page or find it by selecting "My Profile" in the user dropdown menu.
                        button(class='btn btn-lg btn-primary btn-block btn-eic', type='submit') Submit
                        span.clearfix
                     #message
                        if message
                           h1.text-center.error-message #{message}
