nav(aria-label='breadcrumb')
  ol.breadcrumb
    i.text-lightgreen.mdi.mdi-map-marker.mr-2(aria-hidden='true')
    li.breadcrumb-item
      a.text-capitalize(href=bread1.url) #{bread1.title}
    li.breadcrumb-item
      a.text-capitalize(href=bread2.url) #{bread2.title}
    if bread3
      li.breadcrumb-item.active(aria-current='page')
        a.text-capitalize(href=bread3.url) #{bread3.title}