.card.h-100
    .card-header.border-bottom-0.bg-transparent
          .row
                .col-sm-3.pr-0
                      include ../genuserpic
                .col-sm-9
                      if review.user
                            if review.user.firstName && review.user.lastName
                                  a.name(href="/user/#{review.user._id}") #{review.user.firstName} #{review.user.lastName}
                            else
                                  a.name(href="/user/#{review.user._id}") #{review.user.username}
                            if Date.parse(review.dateEmployed) != 0 && Date.parse(review.dateReleased) != 0
                                  .card-subtitle.text-muted #{moment(review.dateEmployed).format("MMM YYYY")+" to " + moment(review.dateReleased).format("MMM YYYY")}
                            else
                                  .card-subtitle.text-muted Posted in #{moment(review.dateCreated).format("MMM YYYY")}
                            if review.average_rating
                                  include ../genrating
    .card-body.py-0
          //- hr
          .review-content !{review.comment}
    .card-footer.border-top-0.bg-transparent
          .row
                button.col-auto.mr-auto.btn.btn-link(type='button') 
                      i.mdi.mdi-arrange-bring-forward(aria-hidden='true')
                      |  Read More 
                button.col-auto.btn.btn-outline-secondary(type='button') 
                      i.mdi.mdi-thumb-up(aria-hidden='true')
                      |  Helpful