block content
      .row
            each review in reviews
                  .col-sm-12.col-md-6.col-lg-4.mb-3
                        include reviewcard
<<<<<<< Updated upstream
            //- .col-sm-12.col-md-6.col-lg-4.mb-5
            include ../noreviewcard
//- block content
//-       -var index = 0
//-       while index < reviews.length
//-             .card-deck.mb-3
//-                   -review = reviews[index]
//-                   include schoolcard
//-                   if index+1 < reviews.length
//-                         -review = reviews[index+1]
//-                         include schoolcard
//-                   if index+2 < reviews.length
//-                         -review = reviews[index+2]
//-                         include schoolcard
//-                   -index = index+3       
                  
//-       li.list-group-review-outer.col-sm-12.col-md-4.col-lg-4
//-          .list-group-review(id="#{review._id}")
//-             .user-picture
//-                   if review.user
//-                         if review.user.fb && review.user.useFacebookPic
//-                               .default-user-picture.image-holder.rounded-circle.fcb(style="background-image: url('/images/default-user.png');")
//-                               .profile-img.image-holder.rounded-circle.fcb(style="background-image: url('#{pictureInfo.returnFacebookPicture(review.user.avatarUrl)}');")
//-                         else
//-                               .default-user-picture.image-holder.rounded-circle.th(style="background-image: url('/images/default-user.png');")
//-                               .profile-img.image-holder.rounded-circle.th(style="background-image: url('#{pictureInfo.returnThumbnail(review.user.avatarUrl)}');")
//-                   else 
//-                         .default-user-picture.image-holder.rounded-circle.fcb(style="background-image: url('/images/default-user.png');")

//-             .user-information
//-                if review.user
//-                   if review.user.firstName && review.user.lastName
//-                      a.name(href="/user/#{review.user._id}") #{review.user.firstName} #{review.user.lastName}
//-                   else
//-                      a.name(href="/user/#{review.user._id}") #{review.user.username}
//-                   if Date.parse(review.dateEmployed) != 0 && Date.parse(review.dateReleased) != 0
//-                      .date #{moment(review.dateEmployed).format("MMM YYYY")+" to " + moment(review.dateReleased).format("MMM YYYY")}
//-                   else
//-                      .date Posted in #{moment(review.dateCreated).format("MMM YYYY")}
//-                if review.average_rating
//-                .rating(data-rate-value="#{jadefunctions.roundToPoint5(review.average_rating)}")
//-             span.clearfix
//-             .review-content !{review.comment}
//-             h5
//-                a.btn.btn-link.readmore.no-padding-left(href="##{review._id}") Read More
//-                if locals.user && locals.user.admin
//-                   a.btn.btn-primary.btn-lg(href="/school/deletereview/#{review._id}/#{school._id}") Delete
//-                .pull-right
//-                   include ../helpfulshort
//-    .clearfix
//-    //if reviews.length != 0
//-    //   hr.review-separator


=======
            include ../noreviewcard
>>>>>>> Stashed changes
