extends ../layout
block content
   div.school-page
      .img-responsive.school-image-container(style="background-image: url('#{pictureInfo.returnLarge(school.pictureUrl)}');")
         .container.darkbg
            h1.school-page-name #{school.name}
            #schoolid.hidden(value="#{school.id}")
            h3.school-page-schooltype #{jadefunctions.returnNameforProvinceCode(school.schoolType)}
            if school.website
               a(href="#{school.website}")
                  h4 #{school.website}
            .school-location
               if school.province && school.city
                  a.btn.btn-lg.btn-primary.btn-gray(href="/school/search?schoolInfo=&province=#{school.province.code}&city=-1") China
                  span
                  a.btn.btn-lg.btn-primary.btn-gray(href="/school/search?schoolInfo=&province=#{school.province.code}&city=-1") #{school.province.name}
                  span
                  if school.city
                     a.btn.btn-lg.btn-primary.btn-gray(href="/school/search?schoolInfo=&province=-1&city=#{school.city.code}") #{jadefunctions.capitalize(school.city.pinyinName)}
                  else
                     a.btn.btn-lg.btn-primary.btn-gray(href="/school/search?schoolInfo=&province=-1&city=1") Dongying
         .container.school-content
            span.clearfix
            .col-xs-12.col-sm-12.col-md-12.col-lg-8
               h2 Description
               hr
               if edit
                  h4
                     a.btn.btn-eic.btn-primary.btn-lg(href="/school/edit/#{school.id}") Edit Your School
               span.clearfix
               div.description-container
                  p.login-title !{school.description}
               h5#read-more
                  span.glyphicon.glyphicon-chevron-down
                  #description-readmore.description-readmore Read Full Description
               span.clearfix

            .col-xs-12.col-sm-12.col-md-12.col-lg-4
               include schoolphotos

            include schooladminsection

            //RATING
            span.clearfix
            #reviews
               if reviewsCount > 0
                  .cards.col-sm-12.col-md-8.col-lg-8
                     ul.nav.nav-pills
                        li.active
                           a.no-padding-left(data-toggle="pill" href="#tabrating") Rating
                        li
                           a(data-toggle="pill" href="#tabbreakdown") Breakdown
                     .tab-content
                        .tab-pane.fade.in.active(id="tabrating")
                           include ratingcard
                        .tab-pane.fade(id="tabbreakdown")
                           include schoolbreakdown
                     .clearfix
                  .clearfix

            .col-sm-12.col-md-12.col-lg-12
               h3 Reviews (#{reviewsCount})
               include schoolreviews

               .clearfix
               if reviewsCount > 6
                  #load-more-reviews.btn.btn-eic.btn-default.btn-lg Load More
               if locals.user
                  a#review.btn.btn-eic.btn-default.btn-lg(href="/school/id/#{school.id}/writereview") Write A Review
               else
                  a#review.btn.btn-eic.btn-default.btn-lg.disabled(href="/school/id/#{school.id}/writereview") Login To Review
               #load-more-reviews.btn.btn-eic.btn-primary.btn-lg Load More
            //.container
            include ../populargrid/popularcategories
               //.clearfix

            #lightbox
               //p Click to close
               #lightboxcontent


   <!-- Modal -->
   button.hidden#modal(type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal") Open Small Modal
   .modal.fade#myModal(role="dialog")
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
               h4.modal-title
            #modal-body.modal-body.modal-wrapper
            button#closemodal(type="button" class="btn-gray btn btn-info btn-lg btn-block" data-dismiss="modal") CLOSE

   <!-- Modal -->

