h3 Breakdown
hr
//p This data is compiled from the reviews only. For more information about these categories, look hover your mouse or touch.
ul.chart
   li(title=criteria[0].shortName)
      span.bar(data-number=jadefunctions.scale1to4(criteriaScore.c1))
      span.number #{Math.round( criteriaScore.c1 * 10 ) / 10}
   li(title=criteria[1].shortName)
      span.bar(data-number=jadefunctions.scale1to4(criteriaScore.c2))
      span.number #{Math.round( criteriaScore.c2 * 10 ) / 10}
   li(title=criteria[2].shortName)
      span.bar(data-number=jadefunctions.scale1to4(criteriaScore.c3))
      span.number #{Math.round( criteriaScore.c3 * 10 ) / 10}
   li(title=criteria[3].shortName)
      span.bar(data-number=jadefunctions.scale1to4(criteriaScore.c4))
      span.number #{Math.round( criteriaScore.c4 * 10 ) / 10}
   li(title=criteria[4].shortName)
      span.bar(data-number=jadefunctions.scale1to4(criteriaScore.c5))
      span.number #{Math.round( criteriaScore.c5 * 10 ) / 10}
   li(title=criteria[5].shortName)
      span.bar(data-number=jadefunctions.scale1to4(criteriaScore.c6))
      span.number #{Math.round( criteriaScore.c6 * 10 ) / 10}
   li(title=criteria[6].shortName)
      span.bar(data-number=jadefunctions.scale1to4(criteriaScore.c7))
      span.number #{Math.round( criteriaScore.c7 * 10 ) / 10}
   li(title=criteria[7].shortName)
      span.bar(data-number=jadefunctions.scale1to4(criteriaScore.c8))
      span.number #{Math.round( criteriaScore.c8 * 10 ) / 10}
   li.reference-bar
      span.bar(data-number=5)

