block content
   .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.review-wrapper
      li.single-review(id="#{review._id}")
         .user-picture
               if review.user.fb && review.user.useFacebookPic
                  .default-user-picture.image-holder.img-circle.fcb(style="background-image: url('/images/default-user.png');")
                  .profile-img.image-holder.img-circle.fcb(style="background-image: url('#{pictureInfo.returnFacebookPicture(review.user.avatarUrl)}');")
               else
                  .default-user-picture.image-holder.img-circle.th(style="background-image: url('/images/default-user.png');")
                  .profile-img.image-holder.img-circle.th(style="background-image: url('#{pictureInfo.returnThumbnail(review.user.avatarUrl)}');")
         .user-information
            if review.user
               if review.user.firstName && review.user.lastName
                  a.name(href="/user/#{review.user._id}") #{review.user.firstName} #{review.user.lastName}
               else
                  a.name(href="/user/#{review.user._id}") #{review.user.username}
            if Date.parse(review.dateEmployed) != 0 && Date.parse(review.dateReleased) != 0
               .school-name Worked at #{review.foreignId.name}
               .date #{moment(review.dateEmployed).format("MMM YYYY") + " to " + moment(review.dateReleased).format("MMM YYYY")}
            //Somewhat confusing because other case doesnt have a label like worked: (no space for that at this point)
            //else
            //   .date Posted on #{moment(review.dateCreated).format("MMMM Do YYYY")}
            if review.average_rating
            .rating(data-rate-value="#{jadefunctions.roundToPoint5(review.average_rating)}")
         span.clearfix
         h3 Comment
         hr
         .review-description !{review.comment}
         include schoolbreakdown

         if review.hasHF
               .pull-left
                  include ../helpfulshort
               if(review.helpfuls.length==1)
                     |&nbsp;&nbsp;&nbsp;#{review.helpfuls.length} you think this review is helpful
               else
                  |&nbsp;&nbsp;&nbsp;#{review.helpfuls.length} users including yourself think this review is helpful

         else
            .pull-left
               include ../helpfulshort
            if(review.helpfuls.length==1)
                  |&nbsp;&nbsp;&nbsp;#{review.helpfuls.length} user thinks this review is helpful, what do you think? Log in to vote
            else
               |&nbsp;&nbsp;&nbsp;#{review.helpfuls.length} users think this review is helpful, what do you think? Log in to vote




         a.btn.btn-eic.btn-primary.btn-lg.hidden(href="/school/reviews/#{review._id}") View Review
      .clearfix


