.card.text-center.h-100
      .display-grid
            a.view.overlay.card-img(href='/school/'+ school._id)
                  .image-container(style='background-image: url(' + pictureInfo.returnThumbnail(school.pictureUrl) + ');')
            a.btn.btn-primary.btn-rounded.btn-floating.btn-action.ml-auto.mr-4(href='/school/'+ school._id)
                  i.text-white.mdi.mdi-chevron-double-right(aria-hidden='true')
            .card-body
                  h3.font-weight-light.card-title.px-0 
                        a.text-dark(href='/school/'+ school._id)
                              | #{school.name}
                  h6.card-subtitle.font-weight-light.mb-2.text-muted #{jadefunctions.returnNameforSchoolType(school.schoolType)}
                        if(school.company)
                              span &nbsp;|&nbsp;
                                    a(href='/company/' + school.company.id) #{school.company.name}
                  p.card-text #{school.description}
                  -var averageRating = jadefunctions.roundToPoint5(school.averageRating)
                  if school.reviews || avg != '-1.0'
                        .row.justify-content-center.text-muted
                              if averageRating != '-1.0'
                                    .chip.chip-md
                                          include ../genratingshort
                              if school.photos.length > 0
                                    .chip.chip-md
                                          i.mdi.mdi-image(aria-hidden='true')      
                                          |  #{school.photos.length} Photos
                              if school.reviews
                                    .chip.chip-md
                                          i.mdi.mdi-message-text(aria-hidden='true')      
                                          |  #{school.reviews.length} Reviews