block content
   span.clearfix
   h2 Photos
   hr

   .school-img-list
      each photo in school.photos
         //.item.col-sm-4.col-md-3.col-lg-3(id="#{photo._id}")
         a.school-image-item.img-responsive.col-xs-4.col-sm-4.col-md-3.col-lg-4(href="#{pictureInfo.returnLarge(photo.url)}" data-toggle="lightbox" data-gallery="school-photos" data-footer="#{photo.description}" width="100%",id=photo._id, src="#{pictureInfo.returnThumbnail(photo.url)}")
            .school-img-list-item(style="background-image: url('#{pictureInfo.returnThumbnail(photo.url)}');")
               if locals.user && locals.user.admin
                  .picture-corner
                     a.btn.btn-primary.btn-lg(href="/school/deletephoto/#{photo._id}/#{school._id}") X
                  .picture-corner
                     a.btn.btn-primary.btn-lg(href="/school/updatecoverphoto/#{photo.id}/"+"#{photo.school.id}" role="button") O
      if locals.user
         .school-image-item.img-responsive.col-xs-4.col-sm-4.col-md-3.col-lg-4(width="100%")
            #ajax-add-photo.school-img-list-item.add-photo(href="/school/addphotoajax/#{school.id}")
      else
         .school-image-item.img-responsive.col-xs-4.col-sm-4.col-md-3.col-lg-4(width="100%")
            #ajax-login.school-img-list-item.add-photo(href="/loginajax")
.clearfix