script(async=true, defer=true, src='/javascripts/file-uploader.js')
script(async=true, defer=true, src='/javascripts/rating.js')
script(async=true, defer=true, src='/javascripts/google-maps-wrapper.js')
script(async=true, defer=true, src='/javascripts/inputs.js')
script(async=true, defer=true, src='/javascripts/read-more.js')
script(async=true, defer=true, src='/javascripts/school-creator.js')
script(async=true, defer=true, src='/javascripts/validator.js')
script(async=true, defer=true, src='/javascripts/stepper-wizard-wrapper.js')
script(async=true, defer=true, src='/javascripts/typeahead-wrapper.js')
script(async=true, defer=true, src='/javascripts/utils.js')
script(async=true, defer=true, src='/javascripts/app.js')